services:
  server:
    build:
      context: .
      dockerfile: Server/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080;https://+:443
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/certificate.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=3702959
    ports:
      - "7154:443"
      - "5162:8080"
    volumes:
      - /home/ubuntu/host/PitfallServer/Server/temp/certificate.pfx:/app/certs/certificate.pfx:ro
    networks:
      - server_network

networks:
  server_network:
    driver: bridge