version: "3.9"

services:
  server:
    container_name: server
    build:
      context: .
      dockerfile: Server/Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080;https://+:443"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "/app/certs/certificate.pfx"
      ASPNETCORE_Kestrel__Certificates__Default__Password: "3702959"
    ports:
      - "7154:443"
      - "5162:8080"
    volumes:
      - /home/ubuntu/host/certs/certificate.pfx:/app/certs/certificate.pfx:ro
    restart: always
    networks:
      - pitfallserver_server_network

networks:
  pitfallserver_server_network:
    external: true